@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply m-0 flex place-items-center min-w-[320px] min-h-screen;
  }

  #root {
    @apply w-full mx-auto text-center;
  }
}

